@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


.landing-page-container {
    width: 100%;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #dfdeff; 
    padding-top: 40px;
}


.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 160px 20px;
    text-align: center;
}


.hero-logo img {
    max-width: 200px;
    height: auto;
    margin-bottom: 30px;
}


.app-ricot {
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 96px;
    color: #000000; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 311px;
    height: 96px;
    margin-bottom: 20px;
}


.special-o {
    color: #0000FF;
}

.hero-content p {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    line-height: 40px;
    color: #000000; 
    max-width: 1030px;
    margin-top: 20px;
    text-align: center;
}


.mission {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 150px;
}


.mission-text h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 75px;
    color: #000000; 
    text-align: left;
    width: 440px;
    height: 91px;
    margin-bottom: 10px;
}


.mission-text p {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 45px;
    color: #000000; 
    text-align: left;
    width: 672px;
}
.mission-text {
    margin-left: 50px; 
}


.mission-image {
    width: 100%; 
    max-width: 600px; 
    height: auto; 
    border-radius: 15.54px 0px 0px 0px;
    opacity: 1;
}


@media (max-width: 768px) {
    .mission {
        flex-direction: column;
    }

    .mission-text h2, .mission-text p {
        text-align: center;
        width: auto; 
    }

    .mission-image {
        width: 100%; 
        height: auto; 
        margin-top: 20px;
    }
}
